<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>primeira_servlet</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>OlaMundo</display-name>
    <servlet-name>OlaMundo</servlet-name>
    <servlet-class>OlaMundo</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>OlaMundo</servlet-name>
    <url-pattern>/OlaMundo</url-pattern>
  </servlet-mapping>
  
  <session-config>
  	<session-timeout>10</session-timeout>
  </session-config>
 
</web-app>